#About {
  max-height: max-content;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.column{
  flex-direction: column;
}
.about {
  margin-top: 3.9rem;
  background-color: #555;
}
.about h1 {
  /* margin-left: 7rem; */
  text-align: center;
  padding: 0.5rem;
  color: #fff;
}
.lg-cont {
  text-align: center;
}
.boxes {
  padding: 7px;
}
.boxes .about {
  margin-bottom: 1rem;
}
.lg-cont .box-1 {
  padding: 0.9rem;
  line-height: 2.2rem;
}
.copyright{
  text-align: center;
}
